/**
* Project Name		: SreySros
* Date				: 08-June-2015
* Developer			: Euk Thona
* Developer URL		: http://glean.net
*/


@import "bootstrap-compass";
@import "bootstrap-variables";
@import "bootstrap";

.container:nth-child( 5 ) {
	display: none;
}
h1 {
	font-size: 2em;
	color: #fff;
	padding-top: 30px;
	margin: 0;
}
p {
	color: #fff;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0;
	font-size: 1.3em;
}
.container {
	padding: 0 15px;
}
.row {
	margin: 0;
}
.navbar-header, .navbar-collapse {
	background-color: #7500b2;
}
nav {
	list-style: none;
}
.navbar-nav {
	margin: 0;
}
.pull-right {
	float:none !important;
}
.navbar-default .navbar-form {
	border-color: #7500b2;
	box-shadow: none;
}
.navbar-default .navbar-collapse {
	border-color: #7500b2;
}
.navbar-toggle {
  position: relative;
  float: right;
  margin-right: 15px;
  padding: 9px 10px;
  margin-top: 23px;
  margin-bottom: 20px;
  background-color: #422e37;
  background-image: none;
  border: 1px solid #fff;
  border-radius: 4px;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.navbar-default .navbar-nav > li > a {
	color: #fff;
	font-size: 1.5em;
	margin-bottom: 10px;
}
.navbar-brand-logo {
	background: url(../images/homepage.png) no-repeat;
	background-size: 46px 46px;
	display: block;
	text-decoration: none;
	float: left;
	text-indent: -9999px;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 15px;
	width: 46px;
	padding-bottom: 30px;
}
.language {
	margin-top: 100px;
	text-align: right;
	padding: 0 15px 10px 15px;
	width: 100%;
	float: none;
}
.lang-en, .lang-kh {
	display: inline-block;
	color: #b3b3b3;
}
.webOnly {
	display: none;
}
.makeup {
	background: url(../images/makeup.jpg) no-repeat;
	background-size: cover;
	padding: 60px 15px;
	text-align: center;
	margin-bottom: 30px;
}
.model {
	background: url(../images/Untitled-3.png) no-repeat;
	background-size: cover;
	padding: 60px 15px;
	text-align: center;
	margin-bottom: 30px;
}
.health {
	background: url(../images/Untitled-4.png) no-repeat;
	background-size: cover;
	text-align: center;
	margin-bottom: 30px;
}
.exercise {
	background: url(../images/homepage.jpg) no-repeat;
	background-size: cover;
	padding: 60px 15px;
	text-align: center;
	margin-bottom: 30px;
}
.model-1 {
	background: url(../images/homepage-11.jpg) no-repeat;
	background-size: cover;
	padding: 60px 15px;
	text-align: center;
	margin-bottom: 30px;
}
.health-1 {
	background: url(../images/homepages.jpg) no-repeat;
	background-size: cover;
	padding: 60px 15px;
	text-align: center;
}
.btn-default {
	background-color: #7500b2;
	color: #fff;
	border-color: #fff;
	margin-bottom: 30px;
}
.links {
	padding: 0;
	margin-top: 30px;
	margin-bottom: 0;
}
.links:nth-child( 2 ) {
	margin-top: 0;
}
.links:nth-child( 2 ) li:nth-child( 1 ){
	border-top: none;
}
ul.links li:first-child {
	border-top: 4px solid #7500b2;
}
ul.links li {
	display: table;
	padding: 10px 0;
	list-style: none;
	border-bottom: 4px solid #7500b2;
	width: 100%;
}
ul.links li a{
	color: #252525;
	padding-left: 15px;
}
ul.links li span {
	color: #7500b2;
	position: relative;
	float: right;
	padding-top: 0;
	padding-right: 15px;
}
.sponsors li a{
	text-indent: -9999px;
	display: block;
}
.pepfar, .usaid, .flagship {
	display: inline-block;
}
.sponsors {
	text-align: center;
	padding-left: 0;
	padding-top: 40px;
	padding-bottom: 20px;
	margin: 0;
}
.pepfar a {
  background: url(../images/pep.jpg) no-repeat 0 0;
  background-size: 52px 52px;
  width: 52px;
  height: 52px;
}
.usaid a {
  background: url(../images/usa.jpg) no-repeat 0 0;
  background-size: 58px 52px;
  width: 58px;
  height: 52px;
}
.flagship a {
  background: url(../images/flag.jpg) no-repeat 0 0;
  background-size: 58px 52px;
  width: 58px;
  height: 52px;
}
.footer {
	background: #7500b2;
	padding-top: 30px;
	padding-bottom: 20px;
}
.footer p {
	float: right;
	display: block;
	padding-top: 25px;
	padding-right: 10px;
	font-size: 0.7em;
	margin: 0;
}
.footer img {
	width: 10%;
	float: right;
	padding-top: 23px;
	margin-right: 60px;
}
